.main {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 20px;
  background-color: var(--white-main);
}

.main__img {
  width: 70%;
}

.main__info {
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
}

.main__description {
  margin: 20px;
  border-bottom: 2px solid var(--yellow-main);
}

.main__description:last-child {
  border: none;
}

.main__icon {
  margin: 20px;
  font-size: 24px;
  color: var(--yellow-main);
}

.main__title {
  margin: 0 auto 20px;
  font-size: 24px;
  font-weight: 500;
  color: var(--grey-dark);
}

@media screen and (max-width: 500px) {
  .main {
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto 20px;
  }

  .main__img {
    width: 80%;
    margin: 0 auto;
  }
}
